.pagination{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding-top: 2em;
    padding-bottom: 3em;
}

.pagination button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px 10px;
    width: 60px;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.3);
}

.pagination button:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    animation: bounce2 .5s alternate infinite ease-in-out;
}

@keyframes bounce2{
    0%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(0%);
    }
}